<br>
<br>
<br>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= @business.name %><br><small><%= @business.phone %></small></h1>
        <h4><%= @business.address %></h4>
        <hr>
        <p><%= @business.description %></p><br>
        <p><i class="fa fa-university">&nbsp;&nbsp;</i><%= @business.merch_assoc %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <hr>

  <div id="all-products" style="display:block">

      <% @business.products.each do |p| %>
      <div class="col-md-4 col-xs-6 product-preview panel">
        <div class="panel-body">
          <h3><%= p.name %>&nbsp;&nbsp;&nbsp;&nbsp;
            <script type="text/javascript"
                    src="https://www.simplify.com/commerce/simplify.pay.js"></script>
            <button data-sc-key="sbpb_Y2NiZjE4YTQtMDQ2My00YTQ0LWFmYjEtZWI4NzY2Zjc1YTFi"
                    data-name= '<%= p.name %>'
                    data-description= '<%= p.description %>'
                    data-reference="99999"
                    data-amount= '<%= p.price %>'
                    data-color="#12B830">
                    <i class="fa fa-cc-mastercard fa-6" style='color:white'></i>
            </button>
          <br>
          <small>$<%= p.show_price %></small></h3>
          <p><img src="<%= p.image %>" class="product-image"></p>
          <p><%= p.description %></p>

        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>
