<!DOCTYPE html>
	<html>
		<head>
			
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
		  <title>Simplify Local</title>

		  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		  <!-- bootstrap css -->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		  <!-- mapbox css -->
		  <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css">
		  <!-- font awesome css -->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		  
		  <%= stylesheet_link_tag    'application' %>
			
		  <%= csrf_meta_tags %>

		</head>
		<body>
			<div id="wrapper">											
			        <div class="overlay"></div>
							<div id="banner"><a href="/">Simplify Local</a></div>
			        <!-- Sidebar -->
			        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

			            <ul class="nav sidebar-nav">
			                <li class="sidebar-brand">
			                    <a href="#">
			                       $implify
			                    </a>
			                </li>
			                <li>
			                    <a href="/">Home</a>
			                </li>
			                <li>
			                    <a href="/about">About</a>
			                </li>
			                <li>
			                    <a href="/signup">Sign Up</a>
			                </li>
			                <li>
			                    <a href="/login">Login</a>
			                </li>
			                <li class="dropdown">
			                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">CATEGORIES <span class="caret"></span></a>
			                  <ul class="dropdown-menu" role="menu">
			                    <li class="dropdown-header">Coupon Categories</li>
			                    <li><a href="/food_and_drink/index">Food & Drink</a></li>
			                    <li><a href="/local_services/index">Local Services</a></li>
			                    <li><a href="/health_and_fitness/index">Health & Fitness</a></li>
			                    <li><a href="/shopping/index">Shopping</a></li>
			                    <li><a href="things_to_do/index">Things To Do</a></li>
			                    <li><a href="beauty_and_spa/index">Beauty & Spa</a></li>
			                  </ul>
			                </li>
			              </ul>
			        </nav>
			        <!-- /#sidebar-wrapper -->

			        <!-- Page Content -->
			        <div id="page-content-wrapper">
			            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
			                <span class="hamb-top"></span>
			    						<span class="hamb-middle"></span>
											<span class="hamb-bottom"></span>
			            </button>
			            <%= yield %>                 
			        </div>

			        <!-- /#page-content-wrapper -->
			    </div>
			    <!-- /#wrapper -->

			

			</div>
			<!-- jQuery -->
			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<!-- bootstrap js -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!-- mapbox js -->
			<script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
			<%= javascript_include_tag 'application' %>
		  <%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>		  
		</body>
	</html>